#!/bin/bash
#
#description: easydarwin service
#chkconfig:2345 88 77

lockfile=/var/lock/subsys/easydarwin
base_dir=/mnt/hgfs/ShareFolder/project/ED/EasyDarwin
target=./Debug/easydarwin
startup_script=startUpInDebug.sh

# start
start(){
        if [ -e $lockfile ];then
                echo "Service is already running ..."
        elif [ $(ps -ef | grep "$target" | grep -v "grep" | wc -l) -eq 1 ];then
                echo "Program is already running but not with service ..."
        else
                touch $lockfile
                source /home/gavin/.bash_profile
                cd $base_dir
                sh $startup_script
                echo "Service started ..."
        fi
}
#stop
stop(){
        if [ -e $lockfile ] ; then
            if [ $(ps -ef | grep "$target" | grep -v "grep" | wc -l) -eq 1 ];then
                kill $(ps -ef | grep "$target" | grep -v "grep" | awk '{print $2}')
            fi
            rm -f $lockfile
            echo "Service stopped."
                
        else
                echo "Service is not running."
        fi
 
}
#restart
restart(){
        stop
        start
}
usage(){
        echo "Usage:{start|stop|restart|status}"
}
status(){
        if [ -e $lockfile ];then
            echo "Service is running ..."
        elif [ $(ps -ef | grep "$target" | grep -v "grep" | wc -l) -eq 1 ];then
            echo "Program is already running but not with service ..."
        else
            echo "Service is not running."
        fi
}
case $1 in
start)
        start
        ;;
stop)
        stop
        ;;
restart)
        restart
        ;;
status)
        status
        ;;
*)
        usage
        exit 7
        ;;
esac

#cp this file to /etc/init.d/easydarwin to register as service
#and run "chkconfig --add easydarwin" for PowerBoot
#add task of restart service daily on 2:00 to crontab:
#* 2 * * * service easydarwin restart